.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@mixin border-radius($radius: 12px)
{	
	-webkit-border-radius: $radius; 
	-moz-border-radius: $radius;  
	border-radius: $radius; 
}

body
{
	margin:0px;
}
.margin-body{
	display:block;
	margin-left:280px;
}
#slider {
    width: 660px;
    height: 608px;
    overflow: hidden;
}

.slides {
    display: block;
    width: 6000px;
    height: 608px;
    margin: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style-type: none;
    width: 660px;
    height: 608px;
}

.board-grp
{
	margin-top:-10px;
	background: #fffdb9;
	width:100%;
}

.board-bg{
	background : #201f24;
	width:90%;
	display:block;
	margin:auto;
}
.paw{
	margin-top:-80px;
	position:relative;
}
.pole
{
	background:url("../img/pole.jpg")no-repeat;
	height:100px;
	margin-top:-4px;
}
.face-img
{
	display:block;
 position:absolute;
width:1500px;
height:auto;
}
.face{

	position:relative;
	display:block;
	height:700px;
	overflow:hidden;
	width:100%;
}

.float {

	float:right;
}

.float-left{

	float:left;
}
.my-img{

	display:block;
	margin:auto;

}
#sidebar
{
	z-index:9999;
	position:fixed;
	width:300px;
	height:780px;
	background : url("../img/rope.png") no-repeat;

}
.sidebar-item
{
	@include border-radius;
		display:block;
		margin:5% 15%;
		padding:60px 6%;
		text-decoration:none;
		color: black;
		text-align:center;
		font-size: 2em;
		background:white;

	}

.item01:hover
{
	background : url("../img/about.jpg") no-repeat;	
	background-size:cover;
}

.item02:hover
{
	background : url("../img/work.jpg") no-repeat;	
	background-size:cover;
}
.item03:hover
{
	background : url("../img/contact.jpg") no-repeat;	
	background-size:cover;
}

.txt-heading
{
	text-align: center;
	font-size: 1.8em;
	color: white;
	margin:0px;
	padding-top:5%;
}

.txt-para{
	padding:2% 5%;
	font-size:1.2em;
	color:white;
}
.form{
	clear:both;
	margin:5%;
}

.work-list
{
	@include border-radius;
	display:block;
	width:45%;
	height:200px;
	background: white;
	margin:2%;
	text-align:center;
	font-size:2em;
	color:black;
	text-decoration:none;
}
.menu 
{
	display:none;
}
.overlay
{
	display:none;
	position:fixed;
	width:800px;
	height:1000px;
	
	
	a {
		position:absolute;
		width:100%;
		height:100%;
		background:rgba(black, 0.5);
		z-index:-1;
	}
}
.work-exp
{	
	@include border-radius;
	display:block;
	background:white;
	padding:5%;
	width:85%;
	margin:2%;
	display:none;
}

@media (max-width: 993px){

	.face, .paw, .bottom, {
		display:none;
	}
	#sidebar{
		top:0px;
		margin-left:-50px;
	}
	.sidebar-item{
		margin-left:25%;
	}
	.margin-body{
		margin-left:235px;
	}

}
@media (max-width: 768px){

	.face, .paw, .bottom {
		display:none;
	}
	.margin-body{
		margin-left:0px;
	}
	#sidebar{
		left:-300px;
		margin-left:0px;
	}
	.sidebar-item{
		margin-left:12%;
	}
	.menu{display:block;}
}